In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("droner_train_2.csv", encoding="utf-8")
test_df = pd.read_csv("droner_test_2.csv", encoding="utf-8")

In [3]:
train_df

,Unnamed: 0,drone_model,dataset,controller,sentence_id,words,labels
0,0,DJI_Inspire_1,df010,mobile_iOS,1,Taking,B-ACTION
1,1,DJI_Inspire_1,df010,mobile_iOS,1,Off,I-ACTION
2,2,DJI_Inspire_1,df010,mobile_iOS,1,.,O
3,3,DJI_Inspire_1,df010,mobile_iOS,2,Taking,B-ACTION
4,4,DJI_Inspire_1,df010,mobile_iOS,2,Off,I-ACTION
...,...,...,...,...,...,...,...
8645,8645,DJI_Mavic_Pro,df021,mobile_iOS_backup,1395,be,O
8646,8646,DJI_Mavic_Pro,df021,mobile_iOS_backup,1395,disabled,O
8647,8647,DJI_Mavic_Pro,df021,mobile_iOS_backup,1395,in,O
8648,8648,DJI_Mavic_Pro,df021,mobile_iOS_backup,1395,landing,O
8649,8649,DJI_Mavic_Pro,df021,mobile_iOS_backup,1395,.,O

In [4]:
test_df.head(5)

,Unnamed: 0,drone_model,dataset,controller,sentence_id,words,labels
0,10359,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,Backward,B-FUNCTION
1,10360,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,Obstacle,I-FUNCTION
2,10361,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,Sensing,I-FUNCTION
3,10362,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,is,O
4,10363,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,not,O

In [5]:
# Pesan, kata, dan entitas dalam train data
sentence_num = train_df.sentence_id.unique()
token_num = len(train_df)
entities = train_df[train_df["labels"]!='O']
print("sentence number: ", len(sentence_num))
print("token number: ", token_num)
print("entities number: ", len(entities))

sentence number:  1367
token number:  8650
entities number:  4060

In [6]:
# Pesan, kata, dan entitas dalam train data
sentence_num = test_df.sentence_id.unique()
token_num = len(test_df)
entities = test_df[test_df["labels"]!='O']
print("sentence number: ", len(sentence_num))
print("token number: ", token_num)
print("entities number: ", len(entities))

sentence number:  407
token number:  3607
entities number:  1104

In [7]:
# The number of token for every entity type in train_df
b_function = train_df[train_df["labels"]=='B-FUNCTION']
i_function = train_df[train_df["labels"] == 'I-FUNCTION']
b_param = train_df[train_df["labels"]=='B-PARAMETER']
i_param = train_df[train_df["labels"] == 'I-PARAMETER']
b_component = train_df[train_df['labels'] == 'B-COMPONENT']
i_component = train_df[train_df['labels'] == 'I-COMPONENT']
b_action = train_df[train_df['labels'] == 'B-ACTION']
i_action = train_df[train_df['labels'] == 'I-ACTION']
b_issue = train_df[train_df['labels'] == 'B-ISSUE']
i_issue = train_df[train_df['labels'] == 'I-ISSUE']
b_state = train_df[train_df['labels'] == 'B-STATE']
i_state = train_df[train_df['labels'] == 'I-STATE']

print("B-Function: ", len(b_function))
print("I-Function: ", len(i_function))
print("B-Parameter: ", len(b_param))
print("I-Parameter: ", len(i_param))
print("B-Component: ", len(b_component))
print("I-Component: ", len(i_component))
print("B-Action: ", len(b_action))
print("I-Action: ", len(i_action))
print("B-Issue: ", len(b_issue))
print("I-Issue: ", len(i_issue))
print("B-State: ", len(b_state))
print("I-State: ", len(i_state))

B-Function:  217
I-Function:  271
B-Parameter:  884
I-Parameter:  964
B-Component:  314
I-Component:  144
B-Action:  183
I-Action:  98
B-Issue:  681
I-Issue:  212
B-State:  48
I-State:  44

In [8]:
# The number of token for every entity type in test_df
b_function = test_df[test_df["labels"]=='B-FUNCTION']
i_function = test_df[test_df["labels"] == 'I-FUNCTION']
b_param = test_df[test_df["labels"]=='B-PARAMETER']
i_param = test_df[test_df["labels"] == 'I-PARAMETER']
b_component = test_df[test_df['labels'] == 'B-COMPONENT']
i_component = test_df[test_df['labels'] == 'I-COMPONENT']
b_action = test_df[test_df['labels'] == 'B-ACTION']
i_action = test_df[test_df['labels'] == 'I-ACTION']
b_issue = test_df[test_df['labels'] == 'B-ISSUE']
i_issue = test_df[test_df['labels'] == 'I-ISSUE']
b_state = test_df[test_df['labels'] == 'B-STATE']
i_state = test_df[test_df['labels'] == 'I-STATE']

print("B-Function: ", len(b_function))
print("I-Function: ", len(i_function))
print("B-Parameter: ", len(b_param))
print("I-Parameter: ", len(i_param))
print("B-Component: ", len(b_component))
print("I-Component: ", len(i_component))
print("B-Action: ", len(b_action))
print("I-Action: ", len(i_action))
print("B-Issue: ", len(b_issue))
print("I-Issue: ", len(i_issue))
print("B-State: ", len(b_state))
print("I-State: ", len(i_state))

B-Function:  77
I-Function:  86
B-Parameter:  139
I-Parameter:  167
B-Component:  132
I-Component:  15
B-Action:  100
I-Action:  25
B-Issue:  101
I-Issue:  143
B-State:  71
I-State:  48

In [9]:
train_group = train_df.groupby(['sentence_id'], as_index=False)['words', 'labels'].agg(lambda x: list(x))
train_group

/tmp/ipykernel_29477/969051624.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  train_group = train_df.groupby(['sentence_id'], as_index=False)['words', 'labels'].agg(lambda x: list(x))

,sentence_id,words,labels
0,1,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
1,2,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
2,3,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
3,4,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
4,5,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ..."
...,...,...,...
1362,1391,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
1363,1392,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ..."
1364,1393,"[Tap, the, screen, lightly, to, focus, .]","[O, O, O, O, O, O, O]"
1365,1394,"[Obstacle, Avoided, ., Revise, Flight, Route]","[O, O, O, O, B-PARAMETER, I-PARAMETER]"
1366,1395,"[Obstacle, Avoidance, will, be, disabled, in, ...","[B-FUNCTION, I-FUNCTION, O, O, O, O, O, O]"

In [11]:
length_list = []
for i in range(0, train_group.shape[0]):
    word_length = train_group.loc[i, 'words']
    length_list.append(len(word_length))

In [12]:
train_group["length"] = length_list
train_group

,sentence_id,words,labels,length
0,1,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
1,2,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
2,3,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
3,4,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
4,5,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ...",9
...,...,...,...,...
1362,1391,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
1363,1392,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ...",9
1364,1393,"[Tap, the, screen, lightly, to, focus, .]","[O, O, O, O, O, O, O]",7
1365,1394,"[Obstacle, Avoided, ., Revise, Flight, Route]","[O, O, O, O, B-PARAMETER, I-PARAMETER]",6
1366,1395,"[Obstacle, Avoidance, will, be, disabled, in, ...","[B-FUNCTION, I-FUNCTION, O, O, O, O, O, O]",8

In [15]:
avg = sum(length_list)/len(length_list)
print(avg)

6.327724945135333

In [16]:
train_group.length.describe()

count    1367.000000
mean        6.327725
std         4.558163
min         2.000000
25%         4.000000
50%         4.000000
75%         7.000000
max        30.000000
Name: length, dtype: float64

In [17]:
test_group = test_df.groupby(['sentence_id'], as_index=False)['words', 'labels'].agg(lambda x: list(x))

/tmp/ipykernel_29477/2483042512.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  test_group = test_df.groupby(['sentence_id'], as_index=False)['words', 'labels'].agg(lambda x: list(x))

In [20]:
length_list = []
for i in range(0, test_group.shape[0]):
    word_length = test_group.loc[i, 'words']
    length_list.append(len(word_length))

In [21]:
test_group["length"] = length_list
test_group

,sentence_id,words,labels,length
0,1396,"[Flight, Mode, Set, to, Attitude]","[B-PARAMETER, I-PARAMETER, O, O, B-STATE]",5
1,1397,"[Set, Flight, Mode, to, GPS, to, fly, safe]","[O, B-PARAMETER, I-PARAMETER, O, B-STATE, O, O...",8
2,1398,"[Flight, Mode, Set, to, Attitude]","[B-PARAMETER, I-PARAMETER, O, O, B-STATE]",5
3,1399,"[Set, Flight, Mode, to, GPS, to, fly, safe]","[O, B-PARAMETER, I-PARAMETER, O, B-STATE, O, O...",8
4,1400,"[Home, Point, Recorded, .]","[B-PARAMETER, I-PARAMETER, O, O]",4
...,...,...,...,...
402,1846,"[Obstacle, Avoidance, will, be, disabled, in, ...","[B-FUNCTION, I-FUNCTION, O, O, O, O, O, O]",8
403,1847,"[The, remaining, battery, is, only, enough, fo...","[O, O, B-COMPONENT, O, O, O, O, B-ACTION, O, O...",13
404,1848,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ...",9
405,1849,"[Fly, with, caution, and, ensure, the, aircraf...","[O, O, O, O, O, O, B-COMPONENT, O, O, O, O, O,...",14
406,1850,"[Aircraft, close, to, Home, Point, ., go, home...","[B-COMPONENT, O, O, B-PARAMETER, I-PARAMETER, ...",12

In [22]:
test_group.length.describe()

count    407.000000
mean       8.862408
std        4.716154
min        1.000000
25%        5.000000
50%        8.000000
75%       12.500000
max       33.000000
Name: length, dtype: float64

In [25]:
full_df = pd.concat([train_group, test_group])
full_df.shape

(1774, 4)

In [30]:
length_distribution = full_df.length.value_counts().to_frame()
length_distribution

    length
4      690
3      175
7      171
9      122
8      109
5      106
14      70
13      61
6       46
2       32
18      31
11      30
12      27
15      23
21      15
10      12
19      12
17      10
30       7
16       5
29       4
28       3
24       3
20       3
22       3
23       1
27       1
1        1
33       1

In [43]:
length_distribution = length_distribution.sort_index()

In [44]:
length_distribution.describe()

           length
count   29.000000
mean    61.172414
std    131.076605
min      1.000000
25%      3.000000
50%     15.000000
75%     61.000000
max    690.000000

In [39]:
less_than_ten = []
for i in range(0, length_distribution.shape[0]):
    if(i < 10):
        less_than_ten.append(length_distribution.iloc[i])

In [40]:
less_than_ten = pd.DataFrame(less_than_ten)
less_than_ten

    length
1        1
2       32
3      175
4      690
5      106
6       46
7      171
8      109
9      122
10      12

In [42]:
less_than_ten.sum()

length    1464
dtype: int64

In [28]:
print(type(length_distribution))

<class 'pandas.core.series.Series'>

In [29]:
length_distribution.to_csv("length_freq_dist.csv")