In [ ]:
import pandas as pd

In [ ]:
train_df = pd.read_csv("droner_train_4.csv", encoding="utf-8")
test_df = pd.read_csv("droner_test_4.csv", encoding="utf-8")

In [ ]:
train_df

,Unnamed: 0,drone_model,dataset,controller,sentence_id,words,labels
0,0,DJI_Inspire_1,df010,mobile_iOS,1,Taking,B-ACTION
1,1,DJI_Inspire_1,df010,mobile_iOS,1,Off,I-ACTION
2,2,DJI_Inspire_1,df010,mobile_iOS,1,.,O
3,3,DJI_Inspire_1,df010,mobile_iOS,2,Taking,B-ACTION
4,4,DJI_Inspire_1,df010,mobile_iOS,2,Off,I-ACTION
...,...,...,...,...,...,...,...
9257,12081,DJI_S1000+,df043,mobile_iOS_backup,1816,Please,O
9258,12082,DJI_S1000+,df043,mobile_iOS_backup,1816,fly,O
9259,12083,DJI_S1000+,df043,mobile_iOS_backup,1816,with,O
9260,12084,DJI_S1000+,df043,mobile_iOS_backup,1816,caution,O
9261,12085,DJI_S1000+,df043,mobile_iOS_backup,1816,.,O

In [ ]:
sentence_number_train = train_df.groupby(['drone_model', 'dataset'], as_index=False)['sentence_id'].agg(lambda x: len(set(x)))
sentence_number_train

        drone_model dataset  sentence_id
0     DJI_Inspire_1   df010           62
1     DJI_Inspire_1   df011           44
2     DJI_Inspire_2   df025           83
3     DJI_Inspire_2   df026          109
4     DJI_Inspire_2   df027          249
5   DJI_Matrice_210   DF059           34
6   DJI_Matrice_210   DF060           49
7   DJI_Matrice_600   df034           96
8       DJI_Mavic_2   df067           31
9       DJI_Mavic_2   df068          117
10      DJI_Mavic_2   df069           28
11    DJI_Mavic_Air   df048          101
12    DJI_Mavic_Air   df050           85
13    DJI_Mavic_Pro   df019           92
14    DJI_Mavic_Pro   df020          161
15    DJI_Mavic_Pro   df021           54
16       DJI_S1000+   df043           17

In [ ]:
sentence_number_test = test_df.groupby(['drone_model', 'dataset'], as_index=False)['sentence_id'].agg(lambda x: len(set(x)))
sentence_number_test

            drone_model dataset  sentence_id
0         DJI_Phantom_3   df001           59
1         DJI_Phantom_3   df002           34
2         DJI_Phantom_4   df005           76
3         DJI_Phantom_4   df006           62
4  DJI_Phantom_4_Pro_V2   df061           46
5  DJI_Phantom_4_Pro_V2   df062           63
6  DJI_Phantom_4_Pro_V2   df063           64
7             DJI_Spark   df007            3
8             DJI_Spark   df008           31

In [ ]:
test_df.head(5)

,Unnamed: 0,drone_model,dataset,controller,sentence_id,words,labels
0,10359,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,Backward,B-FUNCTION
1,10360,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,Obstacle,I-FUNCTION
2,10361,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,Sensing,I-FUNCTION
3,10362,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,is,O
4,10363,DJI_Phantom_4_Pro_V2,df061,mobile_android_physical,1627,not,O

In [ ]:
# Message, Words, and entities in the train set
sentence_num = train_df.sentence_id.unique()
token_num = len(train_df)
entities = train_df[train_df["labels"]!='O']
print("sentence number: ", len(sentence_num))
print("token number: ", token_num)
print("entities number: ", len(entities))

sentence number:  1412
token number:  9262
entities number:  4163

In [ ]:
# Message, Words, and entities in the test set
sentence_num = test_df.sentence_id.unique()
token_num = len(test_df)
entities = test_df[test_df["labels"]!='O']
print("sentence number: ", len(sentence_num))
print("token number: ", token_num)
print("entities number: ", len(entities))

sentence number:  438
token number:  4095
entities number:  1146

In [ ]:
# The number of token for every entity type in train_df
b_function = train_df[train_df["labels"]=='B-FUNCTION']
i_function = train_df[train_df["labels"] == 'I-FUNCTION']
b_param = train_df[train_df["labels"]=='B-PARAMETER']
i_param = train_df[train_df["labels"] == 'I-PARAMETER']
b_component = train_df[train_df['labels'] == 'B-COMPONENT']
i_component = train_df[train_df['labels'] == 'I-COMPONENT']
b_action = train_df[train_df['labels'] == 'B-ACTION']
i_action = train_df[train_df['labels'] == 'I-ACTION']
b_issue = train_df[train_df['labels'] == 'B-ISSUE']
i_issue = train_df[train_df['labels'] == 'I-ISSUE']
b_state = train_df[train_df['labels'] == 'B-STATE']
i_state = train_df[train_df['labels'] == 'I-STATE']

print("B-Function: ", len(b_function))
print("I-Function: ", len(i_function))
print("B-Parameter: ", len(b_param))
print("I-Parameter: ", len(i_param))
print("B-Component: ", len(b_component))
print("I-Component: ", len(i_component))
print("B-Action: ", len(b_action))
print("I-Action: ", len(i_action))
print("B-Issue: ", len(b_issue))
print("I-Issue: ", len(i_issue))
print("B-State: ", len(b_state))
print("I-State: ", len(i_state))

B-Function:  218
I-Function:  272
B-Parameter:  897
I-Parameter:  985
B-Component:  316
I-Component:  144
B-Action:  185
I-Action:  98
B-Issue:  697
I-Issue:  244
B-State:  53
I-State:  54

In [ ]:
# The number of token for every entity type in test_df
b_function = test_df[test_df["labels"]=='B-FUNCTION']
i_function = test_df[test_df["labels"] == 'I-FUNCTION']
b_param = test_df[test_df["labels"]=='B-PARAMETER']
i_param = test_df[test_df["labels"] == 'I-PARAMETER']
b_component = test_df[test_df['labels'] == 'B-COMPONENT']
i_component = test_df[test_df['labels'] == 'I-COMPONENT']
b_action = test_df[test_df['labels'] == 'B-ACTION']
i_action = test_df[test_df['labels'] == 'I-ACTION']
b_issue = test_df[test_df['labels'] == 'B-ISSUE']
i_issue = test_df[test_df['labels'] == 'I-ISSUE']
b_state = test_df[test_df['labels'] == 'B-STATE']
i_state = test_df[test_df['labels'] == 'I-STATE']

print("B-Function: ", len(b_function))
print("I-Function: ", len(i_function))
print("B-Parameter: ", len(b_param))
print("I-Parameter: ", len(i_param))
print("B-Component: ", len(b_component))
print("I-Component: ", len(i_component))
print("B-Action: ", len(b_action))
print("I-Action: ", len(i_action))
print("B-Issue: ", len(b_issue))
print("I-Issue: ", len(i_issue))
print("B-State: ", len(b_state))
print("I-State: ", len(i_state))

B-Function:  77
I-Function:  86
B-Parameter:  153
I-Parameter:  195
B-Component:  132
I-Component:  15
B-Action:  100
I-Action:  25
B-Issue:  101
I-Issue:  143
B-State:  71
I-State:  48

In [ ]:
train_group = train_df.groupby(['sentence_id'], as_index=False)['words', 'labels'].agg(lambda x: list(x))
train_group

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,sentence_id,words,labels
0,1,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
1,2,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
2,3,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
3,4,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]"
4,5,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ..."
...,...,...,...
1407,1874,"[Home, Point, Recorded, Return, -, to, -, Home...","[B-PARAMETER, I-PARAMETER, O, B-PARAMETER, O, ..."
1408,1875,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1409,1876,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1410,1877,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ..."
1411,1878,"[Home, Point, Recorded, Return, -, to, -, Home...","[B-PARAMETER, I-PARAMETER, O, B-PARAMETER, O, ..."

In [ ]:
length_list = []
for i in range(0, train_group.shape[0]):
    word_length = train_group.loc[i, 'words']
    length_list.append(len(word_length))

In [ ]:
train_group["length"] = length_list
train_group

,sentence_id,words,labels,length
0,1,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
1,2,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
2,3,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
3,4,"[Taking, Off, .]","[B-ACTION, I-ACTION, O]",3
4,5,"[Home, Point, Recorded, ., RTH, Altitude, :, 3...","[B-PARAMETER, I-PARAMETER, O, O, B-PARAMETER, ...",9
...,...,...,...,...
1407,1874,"[Home, Point, Recorded, Return, -, to, -, Home...","[B-PARAMETER, I-PARAMETER, O, B-PARAMETER, O, ...",11
1408,1875,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
1409,1876,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
1410,1877,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
1411,1878,"[Home, Point, Recorded, Return, -, to, -, Home...","[B-PARAMETER, I-PARAMETER, O, B-PARAMETER, O, ...",11

In [ ]:
avg = sum(length_list)/len(length_list)
print(avg)

6.5594900849858355

In [ ]:
train_group.length.describe()

count    1412.000000
mean        6.559490
std         4.729838
min         2.000000
25%         4.000000
50%         4.000000
75%         8.000000
max        30.000000
Name: length, dtype: float64

In [ ]:
test_group = test_df.groupby(['sentence_id'], as_index=False)['words', 'labels'].agg(lambda x: list(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [ ]:
length_list = []
for i in range(0, test_group.shape[0]):
    word_length = test_group.loc[i, 'words']
    length_list.append(len(word_length))

In [ ]:
test_group["length"] = length_list
test_group

,sentence_id,words,labels,length
0,1396,"[Flight, Mode, Set, to, Attitude]","[B-PARAMETER, I-PARAMETER, O, O, B-STATE]",5
1,1397,"[Set, Flight, Mode, to, GPS, to, fly, safe]","[O, B-PARAMETER, I-PARAMETER, O, B-STATE, O, O...",8
2,1398,"[Flight, Mode, Set, to, Attitude]","[B-PARAMETER, I-PARAMETER, O, O, B-STATE]",5
3,1399,"[Set, Flight, Mode, to, GPS, to, fly, safe]","[O, B-PARAMETER, I-PARAMETER, O, B-STATE, O, O...",8
4,1400,"[Home, Point, Recorded, .]","[B-PARAMETER, I-PARAMETER, O, O]",4
...,...,...,...,...
433,1905,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
434,1906,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
435,1907,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
436,1908,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17
437,1909,"[Aircraft, is, in, Attitude, mode, so, that, i...","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, ...",17

In [ ]:
test_group.length.describe()

count    438.000000
mean       9.349315
std        4.916594
min        1.000000
25%        5.000000
50%        9.000000
75%       13.000000
max       33.000000
Name: length, dtype: float64

In [ ]:
full_df = pd.concat([train_group, test_group])
full_df.shape

(1850, 4)

In [ ]:
length_distribution = full_df.length.value_counts().to_frame()
length_distribution

    length
4      690
3      175
7      171
9      138
8      110
5      106
14      70
13      61
17      51
6       46
11      40
2       32
18      31
12      30
15      23
21      20
10      12
19      12
30       7
16       5
29       4
28       3
20       3
24       3
22       3
23       1
27       1
1        1
33       1

In [ ]:
length_distribution = length_distribution.sort_index()

In [ ]:
length_distribution.describe()

           length
count   29.000000
mean    63.793103
std    130.862354
min      1.000000
25%      3.000000
50%     23.000000
75%     61.000000
max    690.000000

In [ ]:
less_than_ten = []
for i in range(0, length_distribution.shape[0]):
    if(i < 10):
        less_than_ten.append(length_distribution.iloc[i])

In [ ]:
less_than_ten = pd.DataFrame(less_than_ten)
less_than_ten

    length
1        1
2       32
3      175
4      690
5      106
6       46
7      171
8      110
9      138
10      12

In [ ]:
less_than_ten.sum()

length    1481
dtype: int64

In [ ]:
print(type(length_distribution))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
length_distribution.to_csv("length_freq_dist.csv")