In [1]:
import spacy
import json
import pandas as pd

2022-07-31 19:39:07.010763: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-07-31 19:39:07.010784: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [2]:
tokenized = pd.read_csv('hasil_tools_197.csv', encoding='utf8')

In [4]:
tokenized = tokenized.iloc[: , 1:]
tokenized

     sentence_idx     token        label
0               0  Aircraft  B-COMPONENT
1               0        is            O
2               0     close            O
3               0        to            O
4               0      Home  B-PARAMETER
...           ...       ...          ...
2262          195     place            O
2263          195      ASAP            O
2264          195         .            O
2265          195       NaN          NaN
2266            O       NaN          NaN

[2267 rows x 3 columns]

In [5]:
tokenized = tokenized[tokenized.sentence_idx != 'O'] # Remove sentence separator

     sentence_idx     token        label
0               0  Aircraft  B-COMPONENT
1               0        is            O
2               0     close            O
3               0        to            O
4               0      Home  B-PARAMETER
...           ...       ...          ...
2261          195      safe            O
2262          195     place            O
2263          195      ASAP            O
2264          195         .            O
2265          195       NaN          NaN

[2071 rows x 3 columns]

In [7]:
tokenized = tokenized.dropna() # Drop nan values

In [8]:
# Groupby and collect columns
grouped = tokenized.groupby(['sentence_idx'], as_index=False)['token', 'label'].agg(lambda x: list(x))
grouped

/tmp/ipykernel_76175/3274431137.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped = tokenized.groupby(['sentence_idx'], as_index=False)['token', 'label'].agg(lambda x: list(x))

,sentence_idx,token,label
0,0,"[Aircraft, is, close, to, Home, Point, ., Retu...","[B-COMPONENT, O, O, O, B-PARAMETER, I-PARAMETE..."
1,1,"[Aircraft, is, close, to, the, Home, Point, .,...","[B-COMPONENT, O, O, O, O, B-PARAMETER, I-PARAM..."
2,10,"[Aircraft, is, returning, to, the, Home, Point...","[B-COMPONENT, O, O, O, O, B-PARAMETER, I-PARAM..."
3,100,"[Large, Wind, Velocity, ., Fly, with, caution, .]","[B-ISSUE, I-ISSUE, I-ISSUE, O, O, O, O, O]"
4,101,"[Lens, not, connected]","[B-COMPONENT, O, O]"
...,...,...,...
191,95,"[Landing, Gear, Raised, .]","[B-COMPONENT, I-COMPONENT, O, O]"
192,96,"[Landing, Gear, Raising, .]","[B-COMPONENT, I-COMPONENT, O, O]"
193,97,"[Landing, Protection, Activated, ., Aircraft, ...","[B-FUNCTION, I-FUNCTION, O, O, B-COMPONENT, O,..."
194,98,"[Landing, .]","[B-ACTION, O]"
195,99,"[Large, Wind, Velocity, .]","[B-ISSUE, I-ISSUE, I-ISSUE, O]"

In [9]:
grouped.to_csv('unique_sentence_to_label.csv')